<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.fourlabs.test.TestClass</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Script6</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Script</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Script7</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Script5</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Script8</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Script3</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Script4</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Script1</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Script2</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>startDriver</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>closeDriver</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
