<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>MySuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="afabc8">  <td>19/07/10 00:45:22</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestClass.Script8(java.lang.String)[pri:7, instance:com.fourlabs.test.TestClass@408d971b]">Script8</td> 
  <td>main@580871917</td>   <td></td> </tr>
<tr bgcolor="d0ad9d">  <td>19/07/10 00:45:45</td>   <td>22505</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BasicSetup.closeDriver()[pri:0, instance:com.fourlabs.test.TestClass@408d971b]">&lt;&lt;closeDriver</td> 
<td>&nbsp;</td>  <td>main@580871917</td>   <td></td> </tr>
<tr bgcolor="d0ad9d">  <td>19/07/10 00:45:18</td>   <td>-4430</td> <td title="&gt;&gt;BasicSetup.initiateReportMap()[pri:0, instance:com.fourlabs.test.TestClass@408d971b]">&gt;&gt;initiateReportMap</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@580871917</td>   <td></td> </tr>
<tr bgcolor="d0ad9d">  <td>19/07/10 00:45:18</td>   <td>-4275</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BasicSetup.startDriver()[pri:0, instance:com.fourlabs.test.TestClass@408d971b]">&gt;&gt;startDriver</td> 
<td>&nbsp;</td>  <td>main@580871917</td>   <td></td> </tr>
<tr bgcolor="d0ad9d">  <td>19/07/10 00:45:46</td>   <td>23491</td> <td title="&lt;&lt;BasicSetup.tearDown()[pri:0, instance:com.fourlabs.test.TestClass@408d971b]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@580871917</td>   <td></td> </tr>
</table>
